@import 'https://js.arcgis.com/4.23/@arcgis/core/assets/esri/themes/light/main.css';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Source Sans Pro';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0;
  width: 100%;
  height: 100%;
}
