.esri-component.esri-layer-list.esri-widget.esri-widget--panel {
  max-height: 500px;
}

.esri-component.esri-legend.esri-widget.esri-widget--panel {
  max-height: 300px;
}

a.nav-link {
  color: #808080;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}

a.nav-link.active span,
a.nav-link:active,
a.nav-link:hover {
  text-underline-offset: 3px;
  text-decoration: solid underline #db7093;
}

/* .esri-sketch.esri-widget {
  display: flex;
  flex-direction: row;
  justify-content: center;
} */
