.esri-component.esri-layer-list.esri-widget.esri-widget--panel {
  max-height: 25%;
}

.esri-component.esri-legend.esri-widget.esri-widget--panel {
  max-height: 25%;
}

.esri-ui-top-left.esri-ui-corner {
  height: 95%;
}

.esri-ui-bottom-right.esri-ui-corner {
  height: 95%;
}

a.nav-link {
  color: #808080;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}

a.nav-link.active span,
a.nav-link:active,
a.nav-link:hover {
  text-underline-offset: 3px;
  text-decoration: solid underline #db7093;
}
