.esri-component.esri-layer-list.esri-widget.esri-widget--panel{
    max-height: 500px;
}

.esri-component.esri-legend.esri-widget.esri-widget--panel {
    max-height: 300px;
}

.spacing-dropdown {
    background-color: white;
    border: 1px solid #afafaf;
    border-radius: 0px;
}

.input-container {
    box-sizing: border-box;
    background-color: white;
    padding: 10px;
    margin: 0px;
    width: 300px;
}

.input-section {
    padding-bottom: 10px;
}

input, select {
    font-family: inherit;
    font-size: 100%;
    box-sizing: border-box;
    width : 100%;
    padding: 0;
    margin: 0;
  }
  